@model ManagementViewModel

<h2 class="text-center">Categories</h2>
<form method="post">
    <div class="input-group mb-3">
        <span asp-validation-for="SelectedCategoryName" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="SelectedCategoryName"
               placeholder="Add a Category" aria-label="Add a Category" aria-describedby="add-category-button">
        <div class="input-group-append">
            <button type="submit" class="input-group-text btn btn-primary" id="add-category-button">Add</button>
        </div>
    </div>
</form>
<table class="table">
    <tbody>
        @{
            var categories = Model.Categories.ToList();
        }
        @if (!categories.Where(c => c.IsDeleted == false).Any())
        {
            <tr>
                <td>No Categories Found</td>
            </tr>
        }
        @for (int i = 0; i < categories.Count(); i++)
        {
            var category = categories.ElementAt(i);
            if (!(bool)category.IsDeleted)
            {
                bool selected = false;

                @if (category.CategoryId == Model.SelectedCategoryId)
                {
                    selected = true;
                }
                <tr class="@((selected ? "table-primary" : ""))">
                        <td>
                            <div class="container">
                                <a class="text-decoration-none" asp-action="">

                                </a>
                            </div>
                            <div class="row">
                                <div class="col-6 text-nowrap">
                                    <form method="post" asp-route-id="@Model.SelectedCategoryId">
                                        <div>
                                            <input asp-for="@Model.SelectedCategoryId" value="@category.CategoryId" hidden />
                                            <button class="btn btn-link" type="submit">@category.Name</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto d-flex d-inline ms-auto">
                                    <div class="p-1">
                                        <a asp-action="EditCategory" asp-route-id="@category.CategoryId" class="btn btn-outline-primary">
                                            Edit
                                        </a>
                                    </div>
                                    <div class="p-1">
                                        <form id="categoryDeleteRequest-@i" method="post" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">
                                            <input asp-for="CategoryRequest.Category.CategoryId" value="@category.CategoryId" hidden />
                                            <button type="submit" class="btn btn-outline-danger" onclick="event.preventDefault(); document.getElementById('categoryDeleteRequest-@i').submit();">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
